{
    "*.{md,json}": [
        "prettier --write"
    ],
    "*.{js,jsx}": [
        "max lint --fix --eslint-only",
        "prettier --write"
    ],
    "*.{css,less}": [
        "prettier --write"
    ],
    "*.ts?(x)": [
        "max lint --fix --eslint-only",
        "prettier --parser=typescript --write"
    ]
}
