.ant-pro-menu-item {
    color: #000;
    .anticon {
        color: #000 !important;
        font-size: 16px;
    }
}

.ant-menu-sub.ant-menu-inline {
    .ant-pro-menu-item-title {
        padding-left: 24px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: white !important;
        background-color: #000 !important;
    }
    .ant-design-pro {
        color: white !important;
        background-color: #000 !important;
    }
}

@media (prefers-color-scheme: light) {
    body {
        color: black;
        background-color: #fff;
    }
}
